<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/#/" class="navbar-brand">My Ultra Reddit Clone</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/signup">Sign Up</a></li>
        <li><a href="#/login">Log In</a></li>
        <li><a href="#/logout">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<p class="error">{{error}}</p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <img class="media-object" ng-src="{{post.image_url}}" >
      </div>
      <div class="media-body">
        <h3 class="media-heading"><a>{{post.title}}</a> | <a class="glyphicon glyphicon-arrow-up" aria-hidden="true" ng-click="upvote(post)"></a> <a class="glyphicon glyphicon-arrow-down" aria-hidden="true" ng-click="downvote(post)"></a> <span ng-class="votes(post)">{{post.votes}}</span>
        </h3>
        <p>
          {{post.description}}
        </p>
        <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>&nbsp; {{ post.created_at | date }}&nbsp; By: {{post.author}} <br><br>

        <a href="#/edit_post/{{post.id}}"><button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit
        </button></a>
        <button type="button" class="btn btn-default" ng-click="delete(post)">Delete</button>
        <button type="button" class="btn btn-default" ng-click="showComments = !showComments">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <ng-pluralize count="comments.length" when="{'1': '1 Comment', 'other': '{} Comments'}"</ng-pluralize>
        </button>
        <button type="button" class="btn btn-default" ng-click="showCommentForm = !showCommentForm">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add Comment!
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="panel-footer">
  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
  <p class="dateStyle" name="date">{{post.created_at | date}}</p>
  <div class="pull-right">Posted by: {{post.author}}</div>
</div> -->

<form ng-show="showCommentForm" name="newComment" ng-submit="submitComment(comment)">

  <div class="form-group" ng-class="{'has-error' : newComment.author.$invalid && !newComment.author.$pristine, 'has-success' : newComment.author.$valid }">
    <label class="control-label" for="author">Author:</label>
    <input type="text" name="author" class="form-control" ng-model="comment.author" ng-minlength="3" ng-maxlength="30" ng-required="true" placeholder="Author">
    <small ng-show="newComment.author.$error.minlength" class="help-block">Minimum length is 3 characters.</small>
    <small ng-show="newComment.author.$error.maxlength" class="help-block">Maximum length is 30 characters.</small>
  </div>
  <div class="form-group" ng-class="{'has-error' : newComment.content.$invalid && !newComment.content.$pristine, 'has-success' : newComment.content.$valid }">
    <label class="control-label" for="content">Comment:</label>
    <input type="text" name="content" class="form-control" ng-model="comment.content" ng-minlength="3" ng-maxlength="200" ng-required="true" placeholder="Comment">
    <small ng-show="newComment.content.$error.minlength" class="help-block">Minimum length is 3 characters.</small>
    <small ng-show="newComment.content.$error.maxlength" class="help-block">Maximum length is 200 characters.</small>
  </div>
  <div>
    <input hidden ng-model="comment.posts_id" value="{{post.id}}">
  </div>
  <button type="submit" class="btn btn-default" ng-disabled="newComment.$invalid" ng-click="showComments=true; showCommentForm=false">Submit</button>
</form>

<!-- Comments -->

<div ng-show="showComments" ng-repeat="comment in comments">
  <div class="panel panel-default">
    <div class="panel-body">
      {{comment.content}}
      <p class="pull-right">Posted by:&nbsp; {{comment.author}}</p>
      <div class="panel-footer">
        <a href="#/edit_comment/{{comment.id}}"><button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit Comment
        </button></a>
        <button type="button" class="btn btn-default" ng-click="deleteComment(comment)">Delete Comment</button>

      </div>

    </div>

  </div>

</div>
